<% include ./index/top.ejs%>
  <section class="section1">
    <div id="post_wrap">
      <div id="post_title">
        <% for(let i=0; i<post.length; i++) {%>
          <h3><%=post[i].data.title%></h3>
      </div>
      <div id="post_info">
        <div id="post_user">글쓴이: <%=post[i].data.user%></div>
        <div id ="post_date">날짜: <%=post[i].date%></div>
    </div>
    <div id="post_content">
      <p><%=post[i].data.description%></p>
    </div>
    <div id="post_update_btn_wrap">
      <button type="submit" onclick="location.href='/post_update/<%=post[i].data.id%>'" id="post_update_btn">글 수정</button>
    </div>
    <div id="post_delete_btn_wrap">
    <form action="/post_delete/<%=post[i].data.id%>?_method=DELETE" method="post">
      <button type="submit" id="post_delete_btn">글 삭제</button>
    </form>
    </div>
    <%}%>

    </div>
  </section>
<% include ./index/foot.ejs%>