<% include ./index/top.ejs%>
  <section class="section1">
    <div id="post_wrap">
      <div id="post_title">
        <% for(let i=0; i<post.length; i++) {%>
          <a><%=post[i].data.title%></a>
      </div>
      <div id="post_info">
        <div id="post_user"><%=post[i].data.user%></div>
        <div id ="post_date"><%=post[i].date%></div>
        <div id="post_view">조회: <%=post[i].data.view%></div>
    </div>
    <div id="post_content">
      <pre><%=post[i].data.description%></pre>
    </div>
    <div id="post_board_btn_wrap">
      <div id="post_update_btn_wrap">
        <button type="submit" onclick="location.href='/post_update/<%=post[i].data.id%>'" id="post_update_btn">글 수정</button>
      </div>
      <div id="post_delete_btn_wrap">
      <form action="/post_delete/<%=post[i].data.id%>?_method=DELETE" method="post">
        <button type="submit" id="post_delete_btn">글 삭제</button>
      </form>
      </div>
    </div>
    <%}%>
      <table class="table table-bordered table-sm" id="board_table">
        <thead>
          <th colspan="5" class="non_text">댓글 목록</th>
        </thead>
        <tbody class="list_padding">
          <% for(let j=0; j<reply.length; j++) {%>
          <tr>
            <td><%=reply[j].data.user%></td>
            <td><%=reply[j].data.reply%></td>
            <td>
              <div id="reply_date">
                <%=reply[j].date%>
              </div>
            </td>
            <td>
              <div id="reply_btn_wrap">
                <form action="/reply_update/<%=reply[j].data.id%>?_method=put" method="POST" name="frm_reply_update">
                  <div id="reply_update_btn">
                    <button type="button" id="reply_update_btn" onclick="reply_update()">수정</button>
                  </div>
                  <div id="reply_update_input">
                    <input type="text" name="reply_up" id="reply_up">
                  </div>   
                </form>
              </div>
            </td>
            <td>
              <div id="reply_delete_btn">
                <form action="/reply_delete/<%=reply[j].data.id%>?_method=DELETE" method="POST">
                  <button type="submit" id="reply_delete_btn">삭제</button>
                </form>
              </div>
            </td>
          </tr>
          <%}%>
        </tbody>
      </table>
    <% for(let i=0; i<post.length; i++) {%>
        <form action="/reply/<%=post[i].data.id%>" method="POST" name="frm_reply_make">
            <input type="hidden" name="reply_user" value="<%=post[i].login_user%>">
        <div id="create_reply_wrap" >
          <input type="text" name="reply" id="reply"class="form-control" placeholder="댓글을 작성해주세요">
        </div>
        <div id="create_reply_btn_wrap">
          <button type="button" id="create_reply_btn" onclick="reply_make()">댓글작성</button>
        </div>
        </form>
      <%}%>
    </div>
  </section>
</div>
<script>
  let reply_update = function (){
    if(!document.getElementById('reply_up').value){
      alert('수정댓글을 작성해주세요.');
      reply_up.focus();
      return;
    }
    frm_reply_update.submit();
  } 
  let reply_make = function () {
    if(!document.getElementById('reply').value){
      alert('댓글을 작성해주세요.');
      reply.focus();
      return;
    }
    frm_reply_make.submit();
  }
</script>
<% include ./index/foot.ejs%>